

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
/* nav */
.head{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 58px;
    background-color: rgb(50, 50, 50);
    font-weight: 300;
    font-size: 15px;
}
.link{
    display: flex;
    margin-left: 335px;
    list-style-type:none;
}
.item_link{
    color:white;
    font-weight:400;
	font-size:15px;
    text-decoration:none;
    padding-left: 10px;

}
.item_link-active{
    font-weight:500;
	
}
.item_link::after{
    content: '';
    border-left: 1px solid rgb(255, 255, 255);
    margin-left: 15px;
    opacity: 0.2;
}
/* .a1{
    left: 392px;
    top:20px;

}

.a2{
    top:20px;
    left:498px;
}
.a3{
    top:20px;
    left: 601px;
}
.a4{
    top:20px;
    left: 704px;
} */
.menu-line{
    border-left: 1px solid rgb(255, 255, 255);
    margin-left: 25px;
    opacity: 0.2;

    
}
.top-bt{
    left:1378px;
    position: absolute;
    width: 153px;
    height: 40px;
    top:8px;
    font-size: 12px;
    font-weight: 400;
    background-color: #e8d8b6;
    border:none;
}
/* header */
.zal-img{
    width: 100%;
}
.top-forum{
    width: 100%;
    height: 95px;
    background-color:rgb(255, 255, 255);
    margin-top: 4em;
}
.logo{
    margin-left: 380px;
    margin-top: 20px;
    pointer-events: none;
    display: inline;
    width: 168px;
    height: 72px;
}

.logo2{
    padding-left:40px;
    /* padding-bottom: 18px; */
    pointer-events: none;
}
.logo3{
    /* padding-bottom: 18px; */
    padding-left:180px;
    pointer-events: none;
}
.events{
    padding-bottom: 10px;
    line-height:95px;
    color:#323232;
    font-size: 15px;
}
.events-head{
    margin-left: 659px;
    position: absolute;
    top:0;
    top:60px
}
.contacts-head{
    margin-left: 907px;
    position: absolute;
    top:0;
    top:98px;
}
.contacts{
    color:#323232;
    font-size: 15px;
}
.register-btn{
    position: absolute;
    width: 153px;
    height: 40px;
    top:86px;
    left: 1378px;
    font-size: 12px;
    font-weight: 400;
    background-color: rgb(201, 156, 71);
    border:none;
    color:rgb(255, 255, 255);
    cursor: pointer;
}
/* body */
.container{
    height: 1270px;
    max-width: 1920px;
}
.content{
    margin-left: 390px;
    margin-right: 390px;

}
.text{
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    text-align:justify;
}
.end-text{
    margin-left: 240px;
}

.icon1{
    position: absolute;
    left: 140px;
    bottom: 300px;
}
.icon2{
    margin-left: 280px;
}
.icon3{
    margin-left: 240px;
}
.content-items{
    position: relative;
    margin-left: 22em;
    margin-top: 200px;
}

.under-btn{
    width: 373px;
    height: 273px;

}
.under-text{
    width: 365px;
    height: 180px;
    
}
h2{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
.p-under{
    font-size: 17px;
    font-weight: 300;
    text-align: justify;

}
.end-p{
    text-align: center;
    padding-left: 135px;
}
.lear-more-btn{
    width: 120px;
    height: 34px;
    border: none;
    margin-left: 125px;
    /* margin-top: 25px; */
    font-size: 13px;
    color:white;
    background-color: rgb(212, 193, 152);
}
.botton-btn{
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    color:rgb(154, 154, 154);
    margin-top: 22px;

}
.content-items{
    display: flex;
}
.under-btn2{
    width: 373px;
    height: 273px;
    margin-left:20px;
}
.end-p2{
    text-align: center;
    padding-left: 120px;
}
.end-p3{
    padding-left: 30px;
}
.btn-row{
    height: 72px;
    background-color:rgb(255, 255, 255);
    /* margin-top:50px; */
    display: flex;
    justify-content: center;
}
.bt{
    width: 153px;
    height: 40px;
    border:none;
    color: white;
    font-size: 13px;
    font-weight:300;

}
#minibutton{
    width: 153px;
    height: 40px;
    border:none;
    background-color:rgb(201, 156, 71);
    font-size: 13px;
    font-weight:300;
    margin-left: 3.7em;
    margin-top: 0.2em;
}
.bt1{
    background-color: rgb(201, 156, 71);
    margin-right: 9px;
}
.bt2{
    background-color:black;
    margin-left: 9px;
}
/* slider */
.contetn-slider{
    height: 665px;
    width: 100%;
    background-color:rgb(248, 243, 233);
}
.customer-h{
    font-size: 24px;
    padding-top: 35px;
}
.offer__slider{
    margin-left: 390px;
    margin-right: 390px;
    position: relative;
    
    
}
.item-slider{
    width: 800px;
    height: 500px;
    background-color:white;
    margin-top: 10px;
    display: block;
    transition: all 1.2s ease-in-out;
    

}
.item1{
    margin-left: 170px;
}
.item2{
    margin-left: 170px;
}
.strelka{
    position: absolute;
    
}
.next{
    left: 1050px;
    top:250px;

}
.prev{
    top:250px;
    left:69px;
}
.stelSpan{
    height: 30px;
    margin-left: 390px;
    margin-right: 390px;
}
#current{
    margin-left: 530px;
    font-size: 24px;

}
#total{
    font-size: 24px;
    color: rgba(0,0,0,.5);
}
/* video */
.niz{
    width: 100%;
    height: 600px;
}
.video{
    width: 690px;
    height: 590px;
    margin-left: 225px;
    
}
.h-promo{
    font-size: 24px;
    font-weight: 400;
    padding-top: 70px;
}
.video-content{
    width: 690px;
    height: 450px;
}
/* slider2 */
.slider-clients{
    height: 285px;
    background-color: rgb(248, 243, 233);
    
}
.h-client{
    font-size: 24px;
    font-weight: 400;
    padding-top: 50px;
}
.slider-card{
    width: 180px;
    height: 120px;
    background-color: white;

}
.slider-place{
    width: 590px;
    height: 120px;
    background-color:rgb(248, 243, 233);
    display: block;
    margin-left: 670px;
}
.g{
    margin-left: 15px;
}
.slick-arrow–•{
    background-color:black;
}
/* footer */
footer{
    width: 100%;
    background-color: rgb(50, 50, 50);
}
.foot-wrap{
    display: flex;
}
.group_footer{
    margin-top: 50px;
    line-height: 22px;


    
}


.p-foot{
    color:rgb(201, 156, 71);

}
.p-foot-group{
    color: rgb(245, 245, 245);
    font-size: 14px;

}
.p-end{
    display: flex;
}
.contact-foot{
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 110px;
    display: block;
}
.r2{
    padding-top: 35px;
}
.follows{
    margin-top: 50px;
    margin-left: 576px;
}    
.end-line{
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    position: relative;
}


.end-line::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    opacity: 0.1;
    z-index: 4;
    top:0px;
}
.vr{
    height: 210px;
    width: 1px;
    margin-top: 69px;
    margin-left: 135px;
    position: absolute;
    box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.1); 
}
.cop-p{
    color: rgb(245, 245, 245);
    font-size: 14px;
}
/* modal */
.popup {
	position: fixed;
	top: 30%;
    height: 270px;
	left: 40%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border: 2px solid rgb(231, 173, 48);
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;
    font-size: 20px;
}
.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
}
.input-phone{
    margin-left: 25%;
}
.span-modal{
    color:rgb(212, 193, 152);

}
.popup p{
    text-align: center;
}
.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.4;
	z-index: 9999;
}

/* @media (max-width:1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width:1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width:992px){
    .container{
        max-width: 750px;
    }
}
@media (max-width:768px){
    .container{
        max-width: none;
    }
}
@media (max-width:768px){
    .container{
        max-width: none;
    }
} */
/* @media (max-width:1899px){
    .copirat{
        position: fixed;
    }
} */

@media (max-width:1700px){
    .customer-h{
        padding-left: 10em;
    }
    .btn-row{
        padding-left: 1em;
    }
    .zal-img{
        width: 1700px;
    }
}


@media (max-width:1500px){
    .content{
        margin-left: 100px;

    }
    .p.texp{
        text-align: justify;
    }
    .img-icons{
        display: flex;
    }
    .btn-row{
        display: flex;
        justify-content: center;
        margin-left: 8em;
    }
    .offer__slider{
        margin-left: 170px;

    }
    .customer-h{
        padding-right: 10px;
    }
    .stelSpan{
        margin-left: 8em;
    }
    .slider-place{
        margin-left: 370px
    }
    /* head */
    .top-bt{
        left: 1015px;
    }
    .register-btn{
        left: 1015px;
    }
    .zal-img{
        width: 1500px;
    }
    
}


@media (max-width:1400px){
    .a1{
        left: 160px;
    }
    .a2{
        left:260px
    }
    .a3{
        left:360px;
    }
    .a4{
        left: 460px;
    }
    .content-items{
        margin-left: 15em
    }
    .offer__slider{
        margin-left: 100px;

    }
    .logo{
        padding-left: 160px;
    }
    .logo3{
        padding-left: 180px;
    }
    .btn-row{
        display: flex;
        justify-content: center;
        margin-left: 1em;
    }
    .contact-foot{
        font-size: 12px;
        line-height: 20px;
    }
    .zal-img{
        width: 1400px;
    }
    
}   